.post_full.m_project {
  max-width: 100%;
  padding: 0;

  header {
    padding: 50px 0;
  }

  .post_full-type {
    background: $gray-light;
    color: $gray-dark;
    font-family: $fontSansSerif;
    font-size: 1.7em;
    font-weight: 100;
    padding: 50px 0 35px 0;
    text-align: center;

    span {
      color: lighten($gray-dark, 15%);
      display: block;
      font-family: $fontSerif;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
  }

  .post_full-title {
    font-family: $fontSansSerif;
    font-size: 3.4em;
    margin: 15px 0 0 0;
  }

  .post_full-image {
    img {
      display: block;
      height: auto;
      margin: 0 auto;
      max-width: 1200px;
    }
  }

  .post_full-content-container {
    color: #fff;
    margin: 50px auto;
    max-width: 1200px;
  }
}

.single-project {
  img {
    height: auto;
    max-width: 100%;
  }
}

.single-project {
  blockquote {
    background: $gray-light;
    font-size: 1.1em;
    font-style: italic;
    padding: 40px;
    margin: 50px 0;
    color: $gray-dark;

    &:before {
      content: '\201C';
      font-size: 7em;
      float: left;
      margin: -10px 15px 10px 0;
      height: 1px;
    }

    @media screen and (max-width: $screen-xs-max) {
      font-size: 1em;
      padding: 40px 20px;
    }

    .cite {
      font-style: normal;
    }
  }

  .project-link {
    border-bottom: 2px solid $gray-light;
    border-top: 2px solid $gray-light;
    font-size: 1.3em;
    font-weight: 600;
    margin: 75px 0;
    padding: 30px 0;
    text-align: center;

    @media screen and (max-width: $screen-xs-max) {
      font-size: 1.2em;
      padding: 20px 0;
    }
  }
}
