.post_full {
  padding: 100px 50px;
  font-family: 'PT Serif', sans-serif;
  margin: 0 auto;
  max-width: 1000px;

  @media screen and (max-width: $screen-xs-max) {
    padding: 50px 30px;
  }
}

.post_full-title {
  font-size: 2.6em;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 0 75px;
  text-align: center;

  a, a:link, a:hover, a:visited, a:active {
    color: #000;
    text-decoration: none;
  }

  @media screen and (max-width: $screen-sm-max) {
    font-size: 1.8em;
    padding: 0;
  }
}

.post_full-meta {
  border-bottom: 1px solid $gray-light;
  color: $gray-dark;
  font-size: 1.1em;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.single img.attachment-post {
  height: auto;
  margin: 0 auto 30px auto;
  max-width: 100%;
}

.post_full-content {
  padding: 20px 0;

  &.m_project {
    padding-left: 0;
    padding-right: 0;
  }

  > * {
    @media screen and (min-width: $screen-sm-min) {
      padding: 0 100px;
    }
  }

  > .post-image {
    padding: 0;

    img {
      height: auto;
      max-width: 100%;
    }
  }

  img {
    @media screen and (max-width: $screen-xs-max) {
      height: auto;
      max-width: 100%;
    }
  }

  > figure.wp-caption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    .wp-caption-text {
      color: $gray-medium-dark;
      font-size: 1.1em;
      font-style: italic;
      padding-bottom: 30px;
      text-align: center;
    }
  }

  p {
    line-height: 2em;
    margin: 30px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: $screen-xs-max) {
      font-size: 1.1em;
      line-height: 1.8em;
      margin: 30px 0;
    }
  }

  > p:first-of-type {
    &:first-letter {
      @media screen and (min-width: $screen-sm-min) {
        background: $yellow;
        border-radius: 2px;
        color: #000;
        display: block;
        float: left;
        font-size: 2.4em;
        font-weight: 600;
        margin: 8px 10px 0 0;
        padding: 15px 20px;
      }
    }
  }

  h2 {
    font-size: 1.8em;
    margin: 50px 0 -10px 0;

    @media screen and (max-width: $screen-xs-max) {
      font-size: 1.4em;
      font-weight: 600;
    }
  }

  h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 40px 0 -10px 0;
  }

  ul, ol {
    margin: 40px 0 40px 50px;

    @media screen and (max-width: $screen-xs-max) {
      font-size: 1.1em;
      margin-left: 30px;
    }

    li {
      margin: 15px 0;
    }
  }
}

.post_full-more {
  border-top: 1px solid $gray-medium;
  padding: 20px 10px;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  margin: 65px auto 0 auto;
  max-width: 400px;
  text-align: center;
  text-decoration: none;
}

.post, .post_full {
  em {
    font-style: italic;
  }
}

.at-below-post {
  margin-top: 75px;
  text-align: center;
}
